@font-face {
    font-family: 'Arimo';
    src: 
      url('../fonts/Arimo.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
  }

  

@font-face {
    font-family: 'Akt';
    src:
        url('../fonts/Akt.woff2') format('woff2'),
        url('../fonts/Akt-Light.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
    font-family: 'Akt';
    src:
        url('../fonts/Akt-Light.woff2') format('woff2');
      font-weight: 500;
      font-style: normal;
  }
