/* Сброс стандартных отступов */
html, body { 
    width: 100%;
    height: 100%;
}

html, body, *{
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    box-sizing: border-box; /* Включаем режим box-sizing для всех элементов */
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
  background-color: var(--background-color);
  height: 100vh; /* Растягиваем #app на всю высоту viewport */
  width: 100%;   /* Занимает всю ширину окна */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* === Основные переменные цветов === */
:root {
    --primary-color: #1D2D44; /* Основной темно-синий цвет */
    --secondary-color: #1d2731; /* Вторичный серо-синий цвет */
    --background-color: #e8eaf6; /* Светлый фоновый цвет */
    --gray-light-color: #c2c2c2;
    --text-color: #0D1321; /* Темный цвет текста */
    --accent-color: #748CAB; /* Акцентный светло-серый цвет */
    --hover-color: #3E5C76; /* Цвет при наведении */
    --border-color: #748cab65; /* Цвет границ */
    --error-color: #FF5722; /* Цвет ошибки (оранжевый) */
    --success-color: #4CAF50; /* Цвет успеха (зеленый) */
    --white: #FFFFFF; /* Белый */
    --black: #000000; /* Черный */
    --shadow: #0000002d;
  }

